<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{% static 'css/gateway_manage/Gateway_information.css' %}" />
		<link rel="stylesheet" href="{% static 'css/pop.css' %}" />
		<link rel="stylesheet" href="{% static 'css/information.css' %}" />
	</head>
	<body>
		<div id="edit" class="operation div_cursor" onclick="clickEdit('geteway_popup')">
			<img src="{% static 'img/gateway/gateway_pop/u44.png' %}" />&nbsp;&nbsp;&nbsp;<span>编辑</span>
		</div>
		<div class="table_div">
			<table id="table">
				<tr>
					<td style="width: 255px;">网关名称</td>
						<td class="td-right">{{ data.gateway_name }}</td>
				</tr>
				<tr>
					<td>网关ID</td>
					<td class="td-right">{{ data.gateway_key }}</td>
				</tr>
				<tr>
					<td>子设备数</td>
					<td class="td-right">{{ data.gateway_subdevice_num }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: rgb(36, 109, 255);cursor: pointer;" onclick="go_sub_list()">前往子设备列表</a></td>
				</tr>
				<tr>
					<td>厂商型号</td>
					<td class="td-right">{{ data.gateway_model }}</td>
				</tr>
				<tr>
					<td>厂商名称</td>
					<td class="td-right">{{ data.gateway_trade_name }}</td>
				</tr>
				<tr>
					<td>注册时间</td>
					<td>{{ data.gateway_registration_time|date:"Y-m-d H:i:s" }}</td>
				</tr>
				<tr>
					<td class="bottom_td">网关描述</td>
					<td class="bottom_td">{{ data.gateway_remark }}</td>
				</tr>
				<tr>
					<td>位置信息</td>
					<td class="td-right">{{ data.gateway_location }}</td>
				</tr>
				<tr>
					<td>最近恢复出厂日期</td>
					<td class="td-right">{{ data.gateway_reset_time|date:"Y-m-d H:i:s" }}</td>
				</tr>
			</table>
		</div>	
		<script type="text/javascript" src="{% static 'js/gateway_manage/Gateway_Information.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/Information.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery1.3.2.js' %}" ></script>
	</body>
</html>
