<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{% static 'css/Remote_Manage/Configuration_Distribution.css' %}" />
		<link rel="stylesheet" href="{% static 'css/table.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font.css' %}" />
		<link rel="stylesheet" href="{% static 'css/pop.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bg_Color.css' %}" />
	</head>
	<body>
		<div id="config_tips" class="remote_tip_bg"><span>该功能实现远程对网关的配置下发！</span></div>
		<div id="config_table_div">
			<table id="config_table" cellpadding="0" cellspacing="0">
				<thead id="config_thead">
					<td style="width: 80px;"><span>下发类型</span></td>
					<td style="width: 160px"><span>MQTT的Topic</span></td>
					<td style="width: 80px;"><span>描述</span></td>
					<td style="width: 110px;"><span>操作</span></td>
				</thead>
				<tr>
					<td><span>Create</span></td>
					<td><span class="topic">/data/EdgeBox/gateway/create/<span>....</span></span><img  class="div_cursor click_copy"  src="{% static 'img/Remote_Manage/u2384.png' %}" title="点击复制" /></td>
					<td><span>创建新设备</span></td>
					<td><span class="font_blue div_cursor" onclick="clickEvent('config_instructions')">使用说明</span></td>
				</tr>
				<tr>
					<td><span>Update</span></td>
					<td><span class="topic">/data/EdgeBox/gateway/update/<span>....</span></span><img class="div_cursor click_copy" src="{% static 'img/Remote_Manage/u2384.png' %}" title="点击复制" /></td>
					<td><span>修改设备</span></td>
					<td><span class="font_blue div_cursor" onclick="clickEvent('config_instructions')">使用说明</span></td>
				</tr>
				<tr>
					<td><span>Delete</span></td>
					<td><span class="topic">/data/EdgeBox/gateway/delete/<span>....</span></span><img class="div_cursor click_copy" src="{% static 'img/Remote_Manage/u2384.png' %}" title="点击复制" /></td>
					<td><span>删除设备</span></td>
					<td><span class="font_blue div_cursor" onclick="clickEvent('config_instructions')">使用说明</span></td>
				</tr>
			</table>
		</div>
		
		
		
		
		
		
		
		<script type="text/javascript" src="{% static 'js/clipboard.min.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery1.3.2.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/click_event.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/click_copy.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/isDisapper.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/Remote_Manage/Remote_Manage_Main.js' %}" ></script>
	</body>
</html>
