#notification_table_div{
	position: absolute;
	top: 80px;
	left: 50px;
	font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 14px;
    color: #333333;
    line-height: normal;
}
#notification_table{
    /*border: 1px solid aqua;*/
	width: 775px;
}
#notification_table td{
	height: 45px;
}
