<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{% static 'css/img.css' %}" />
		<link rel="stylesheet" href="{% static 'css/table.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font.css' %} " />
		<link rel="stylesheet" href="{% static 'css/dev_dri_library/Driver_Library.css' %} " />
	</head>
	<body>
		<div id="driver_add_img" class="operation div_cursor" onclick="clickAdd('driver_add_div')">
			<img src="{% static 'img/gateway/gateway_pop/u44.png' %}" />&nbsp;&nbsp;&nbsp;<span>新增驱动库</span>
		</div>
		
		<div id="driver_table_div">
			<table id="driver_table" cellpadding="0" cellspacing="0">
				<thead id="driver_thead">
					<td width="160px">驱动库名称</td>
					<td width="200px">创建时间</td>
					<td>描述</td>
					<td width="130px">操作</td>
				</thead>
				<tr>
					<td>ModBus</td>
					<td>2019-05-25 13:52:47</td>
					<td>ModBus采集程式</td>
					<td><span class="font_red">删除</span></td>
				</tr>
				<tr>
					<td>CNC</td>
					<td>2019-04-12 09:48:36</td>
					<td>CNC采集程式</td>
					<td><span class="font_red">删除</span></td>
				</tr>
				<tr>
					<td>SMT</td>
					<td>2019-04-10 10:52:32</td>
					<td>SMT采集程式</td>
					<td><span class="font_red">删除</span></td>
				</tr>
				<tr>
					<td>IO</td>
					<td>2019-03-25 09:14:40</td>
					<td>IO采集程式</td>
					<td><span class="font_red">删除</span></td>
				</tr>
			</table>
		</div>
		
		<script type="text/javascript" src="{% static 'js/click_event.js' %}" ></script>
	</body>
</html>
