<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{% static 'css/sub_manage/sub_manage_agreement/Sub_Acq_Modbus.css' %}" />

		<link rel="stylesheet" href="{% static 'css/sub_manage/Acquisition_Protocol.css' %}" />
		<link rel="stylesheet" href="{% static 'css/pop.css' %}" />
		<link rel="stylesheet" href="{% static 'css/tittle.css' %}" />
		<link rel="stylesheet" href="{% static 'css/iframe.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font.css' %}" />
		<link rel="stylesheet" href="{% static 'css/table.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bg_Color.css' %}" />

		<link rel="stylesheet" href="{% static 'css/img.css' %}" />
		<link rel="stylesheet" href="{% static 'css/split_img.css' %}" />
		<!--<link rel="stylesheet" href="{% static 'css/input_custom.css' %}" />-->
		<link rel="stylesheet" href="{% static 'css/Compatibility.css' %}" />
		<!--<link rel="stylesheet" href="{% static 'css/sub_manage/sub_manage_agreement/Sub_Acq_Modbus.css' %}" />-->
	</head>
	<body>
		<div id="tittle_css"><span>配置采集协议</span></div>
		<div id="acq_select" class="select_div">
			<span>接口类型：</span>
			<div id="select_box" class="select_box" title="请选择协议类型"><input type="text" value="RS232接口类" readonly="readonly">
			  <div class="select_img"><img src="{% static 'img/sub_manage/u1322.png' %}" /></div>
			  <ul>
				<li>RS232接口类</li>
				<li>以太网类型</li>
				<li>专有类型</li>
			  </ul>
			</div>
		</div>
		<div id="acq_div_combination" class="select_div">
			<span>协议名称：</span>
			<div id="rs232" class="select_box" title="请选择协议名称"><input class="myselect" type="text" value="请选择协议名称" readonly="readonly">
			  <div class="select_img"><img src="{% static 'img/sub_manage/u1322.png' %}" /></div>
			  <ul>
				<li>ModBus-RTU</li>
				<li>其他</li>
			  </ul>
			</div>
			
			<div id="intel" class="select_box" title="请选择协议名称"><input class="myselect" type="text" value="请选择协议名称" readonly="readonly">
			  <div class="select_img"><img src="{% static 'img/sub_manage/u1322.png' %}" /></div>
			  <ul>
				<li>MQTT</li>
				<li>DB</li>
				<li>KAFKA</li>
				<li>Modbus-TCP</li>
			  </ul>
			</div>
			
			<div id="other" class="select_box" title="请选择协议名称"><input class="myselect" type="text" value="请选择协议名称" readonly="readonly">
			  <div class="select_img"><img src="{% static 'img/sub_manage/u1322.png' %}" /></div>
			  <ul>
				<li>Robot</li>
				<li>三菱</li>
				<li>西门子</li>
			  </ul>
			</div>
			<span id="tips_select" class="font_red">请先选择协议名称</span>
		</div>
		
		
		<div id="acq_submit" class="font_white bg_blue font_center div_cursor"><span>自定义</span></div>
		
		
		<!--<div id="hide_div">
			<div class="hide_div_a"><a style="border: 0px;color: #246DFF;">自定义</a></div>
			<div class="hide_div_a"><a onclick="click_config('config_center_modbus')">HC31A电表</a></div>
			<div class="hide_div_a"><a>HC33A电表</a></div>
			<div class="hide_div_a"><a>压力传感器</a></div>
		</div>-->
		
		<div id="acq_bottom_div">
			<table id="acq_table" cellspacing="0" scellpadding="0">
				<thead id="acq_thead">
					<td style="width: 15%">模板名称</td>
					<td style="width: 15%;">协议名称</td>
					<td style="width: 25%;">创建时间</td>
					<td style="width: 20%">描述</td>
					<td style="width: 20%">操作</td>
				</thead>
                   {% for template in templates reversed %}
                    <tr>
                        <td>{{ template.0.etr_name }}</td>
                        <td>{{ template.0.etr_accordname }}</td>
                        <td>{{ template.0.create_time }}</td>
                        <td>{{ template.0.etr_remark }}</td>
                        <td>
                            <div class='div_cursor position font_dark_blue acq_application' onclick='click_application("{{ template.0.etr_name }}")'>应用</div>
                            <div class='div_cursor position font_blue acq_details'>详情<img src="{% static 'img/sub_manage/u1719.png' %}" /></div>
                        </td>
				    </tr>
				    <tr class="box">
					    <td colspan="5">
						<div class="acq_table_table_div">
							<table id="acq_table_table" cellpadding="0" cellspacing="0">
                                {% for row in template  %}
                                    {% if forloop.first %}
								        <tr>
                                    {% endif %}
                                    {% if forloop.counter == 5 or forloop.counter == 9 or forloop.counter == 13 or forloop.counter == 17 %}
                                        </tr><tr>
                                    {% endif %}
                                    <td><span title="{{ row.etr_cmdregister }}:开始地址:[{{ row.etr_cmdnumber }}]:寄存器个数"><span>{{ row.etr_param }}</span>：<span class="font_blue">{{ row.etr_cmdregister }} [{{ row.etr_cmdnumber }}]</span></span></td>
                                    {% if forloop.last %}
                                       </tr>
                                    {% endif %}

                                {% endfor %}
							</table>
						</div>
					</td>
				    </tr>
                   {% empty %}
                    <tr>
						<td colspan="5">No matching records found</td>
					</tr>
                    {% endfor%}

			</table>
		</div>
		<div id="podiv">
		<form action="" method="post">
				<div id="acq_application" class="gateway_service pop_div_position div_backgr">
					<div class="config_podiv_tittle">
						<span id="config_tittle_span"><img src="{% static 'img/sub_manage/u1352.png' %}" />协议接口配置</span>
						<div class="sub_close div_cursor" onclick="pop_close('acq_application')"><img src="{% static 'img/gateway/gateway_pop/u1938.png' %}" /></div>
					</div>

					<div class="config_line"><img src="{% static 'img/gateway/u130.png' %}" /></div>

					<div id="acq_bootom_modbus">
						<div id="acq_modbus_left">
							<div class="acq_modbus_input">
								<label><sup class="font_red">*</sup>串口号：</label>&nbsp;&nbsp;&nbsp;&nbsp;
								<select id="acq_serial_slogans" class="baud_rate_css">
									<option>com3</option>
									<option>com4</option>
									<option>com5</option>
									<option>com6</option>
									<option>com7</option>
									<option>com8</option>
									<option>com9</option>
									<option>com10</option>
									<option>com11</option>
									<option>com12</option>
									<option>com13</option>
									<option>com14</option>
								</select>
							</div>
							<div class="acq_modbus_input">
								<label><sup class="font_red">*</sup>数据位：</label>&nbsp;&nbsp;&nbsp;&nbsp;
								<select id="data_bits" class="baud_rate_css" >
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option selected>8</option>
                                </select>
							</div>
							<div class="acq_modbus_input">
								<label><sup class="font_red">*</sup>波特率：</label>&nbsp;&nbsp;&nbsp;&nbsp;
								<select id="baud_rate" class="baud_rate_css">
                                    <option>4800</option>
									<option selected >9600</option>
									<option>19200</option>
									<option>38400</option>
                                </select>
							</div>
							<div class="acq_modbus_input">
								<label><sup class="font_red">*</sup>奇偶校验：</label>&nbsp;&nbsp;&nbsp;&nbsp;
								<select id="parity_check" class="baud_rate_css">
									<option>n&nbsp;&nbsp;(无校验)</option>
									<option>e&nbsp;&nbsp;(偶校验)</option>
									<option>o&nbsp;&nbsp;(奇校验)</option>
								</select>
							</div>
							<div class="acq_modbus_input">
								<label><sup class="font_red">*</sup>停止位：</label>&nbsp;&nbsp;&nbsp;&nbsp;
								<select id="stop_bit" class="baud_rate_css">
                                    <option selected>1</option>
                                    <option>1.5</option>
                                    <option>2</option>
                                </select>
							</div>
							<div class="acq_modbus_input">
								<!--<label>回复超时：</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="0.5 " /><span class="acq_input_span">S</span>-->
								<label>回复超时：</label>
                                <select id="reply time out" class="baud_rate_css">
                                    <option selected>0.3</option>
                                    <option>0.5</option>
                                    <option>1.0</option>
                                </select>
							</div>
							<div class="acq_modbus_input">
								<!--<label>读写周期：</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="3"/><span class="acq_input_span">S</span>-->
								<label>读写周期：</label>
                                 <select id="cycle time" class="baud_rate_css">
                                    <option selected>0.5</option>
                                    <option>1.0</option>
                                    <option>2.0</option>
                                    <option selected>3.0</option>
                                </select>
							</div>
							<div class="acq_modbus_input">
								<!--<label><sup class="font_red">*</sup>地址码：</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" />-->
								<label><sup class="font_red">*</sup>地址码：</label>
                                 <select id="code" class="baud_rate_css">
                                     {% for addr in addrs %}
                                        <option>{{ addr }}</option>
                                     {% endfor %}
                                </select>
							</div>

							<div class="acq_split_div"><img src="{% static 'img/sub_manage/u1377.png' %}" /></div>

							<div class="binding_driver_div">
								<label><sup class="font_red">*</sup>绑定驱动：</label>
								<!--<div id="select_box" class="select_box" title="请选择驱动"><input class="acq_costom" type="text" value="请选择驱动" readonly="readonly">-->
								   <select id="qudong" class="qudong" style="font-size: 15px; width: 210px; height: 28px">
                                        <option>Modebus-Rtu-Drive-test0.1</option>
                                   </select>
								<!--</div>-->
							</div>
							<div id="application_save_div">
								<div id="acq_save" class="save div_cursor font_white" onclick="pop_acq_apply('{{ device_id }}' )"><span >应用</span></div>
								<div id="acq_close" class="close_save div_cursor" onclick="pop_acq_close('config_podiv')"><span>取消</span></div>
							</div>
						</div>
					</div>
				</div>
			</form>
		<form action="" method="post">
				{% csrf_token %}
				<div id="config_podiv">
					<div class="config_podiv_tittle">
						<span id="config_tittle_span"><img src="{% static 'img/sub_manage/u1352.png' %}" /><span id="acq_application_span"></span><span id="tittle_span"></span></span>
						<div class="sub_close div_cursor" onclick="pop_close('config_podiv')"><img src="{% static 'img/gateway/gateway_pop/u1938.png' %}" /></div>
					</div>

					<div class="config_line"><img src="{% static 'img/gateway/u130.png' %}" /></div>

					<div id="modbus_rtu" class="config_podiv_center">

						<div id="template_information">
							<div  id="template_name" class="template_position"><span><sup class="font_red">*</sup>模板名称：</span><input  name="template_name" type="text" /></div>
							<div  id="template_description" class="template_position"><span><sup class="font_red">*</sup>模板描述：</span><input name="template_description" type="text" /></div>
						</div>

						<div id="pop_acq_table_div">
							<table cellpadding="0" cellspacing="0">
								<thead>
									<td style="width: 15%;">功能码</td>
									<td style="width: 15%;">寄存器地址</td>
									<td style="width: 8%;">长度</td>
									<td style="width: 12%;">参数</td>
									<td style="width: 15%;">格式</td>
									<td style="width: 15%;">公式</td>
									<td style="width: 10%;">操作</td>
								</thead>

                                <tr id="acq_end_tr" class="div_cursor" onclick="click_add()">
                                    <td colspan="7"><span>+</span></td>
                                </tr>

							</table>
						</div>
					</div>


					<div id="config_center_mqtt" class="config_podiv_center">

						<div class="pop_modbus_content">
							<div class="pop_input_label">
								<span><sup class="font_red">*</sup>Host：</span>
							</div>
							<div class="input_label">
								<input id="host" class="pop_input_long" type="text" />
							</div>
						</div>
						<div class="pop_modbus_content">
							<div class="pop_input_label">
								<span><sup class="font_red">*</sup>Port：</span>
							</div>
							<div class="input_label">
								<input id="port" class="pop_input_long" type="text" />
							</div>
						</div>
						<div class="pop_modbus_content">
							<div class="pop_input_label">
								<span><sup class="font_red">*</sup>Client ID：</span>
							</div>
							<div class="input_label">
								<input class="pop_input_long" type="text" />
							</div>
						</div>
						<div class="pop_modbus_content">
							<div class="pop_input_label">
								<span><sup class="font_red">*</sup>Username：</span>
							</div>
							<div class="input_label">
								<input class="pop_input_long" type="text" />
							</div>
						</div>
						<div class="pop_modbus_content">
							<div class="pop_input_label">
								<span><sup class="font_red">*</sup>Password：</span>
							</div>
							<div class="input_label">
								<input class="pop_input_long" type="text" />
							</div>
						</div>
						<div class="pop_modbus_content">
							<div class="pop_input_label">
								<span><sup class="font_red">*</sup>Subscribe：</span>
							</div>
							<div class="input_label">
								<input class="pop_input_long" type="text" />
							</div>
						</div>
					</div>

					<div id="config_save_div">
						<button type="submit" id="acq_save" class="save div_cursor font_white" onclick="pop_acq_close('config_podiv')"><span>保存</span></button>
						<div id="acq_close" class="close_save div_cursor" onclick="pop_acq_close('config_podiv')"><span>取消</span></div>
					</div>
				</div>
			</form>
		</div>
				
		<script type="text/javascript" src="{% static 'js/jquery1.3.2.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/sub_manage/Sub_Device_Main.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/sub_manage/Acquisition_Protocol.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/pop.js' %}" ></script>
	</body>
</html>
