<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{% static 'css/pop.css' %}" />
		<link rel="stylesheet" href="{% static 'css/table.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font.css' %}" />
		<link rel="stylesheet" href="{% static 'css/information.css' %}" />
		<link rel="stylesheet" href="{% static 'css/sub_manage/Data_Forwarding.css' %}" />
	</head>
	<body>
		<div id="data_add" class="div_font_css div_cursor" onclick="clickAdd('data_add_podiv')">
			<img src="{% static 'img/gateway/gateway_pop/u44.png' %}" />&nbsp;&nbsp;&nbsp;<span class="font_blue">新增转发</span>
		</div>
		<div id="data_table_div">
			<table id="data_table" cellpadding="0" cellspacing="0">
				<thead id="data_thead">
					<td style="width: 70px;">序号</td>
					<td style="width: 90px;">转发路径名称</td>
					<td style="width: 110px;">启用/禁用</td>
					<td>上行消息数</td>
					<td>创建时间</td>
					<td style="width: 180px;">描述</td>
					<td style="width: 180px;">操作</td>
				</thead>
			</table>
		</div>
		
		
		<div id="podiv_tips">
			<div id="mana" class="bu_tips_div">
				<div id="bu_tips_img"><img src="{% static 'img/sub_manage/u636.png' %}"/></div>
				<div id="bu_tips_content"><p>操作成功 ！</p></div>
			</div> 
			<div id="dele" class="bu_tips_div">
				<div id="bu_tips_img"><img src="{% static 'img/sub_manage/u636.png' %}"/></div>
				<div id="bu_tips_content"><p>删除成功 ！</p></div>
			</div>
		</div>
		
		<script type="text/javascript" src="{% static 'js/jquery.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/pop.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/operation_clue.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/sub_manage/Data_Forwarding.js' %}" ></script>
	</body>
</html>
