{% load staticfiles %}

<html>
<head>
	<meta charset="utf-8">
	<title>Edge Box 边缘层智能网关</title>
	<link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>

<body>
	<div class="login login-blue">
		<div class="login-wrapper">
			<div class="login-box">
				<div class="login-box-inner">
					<form method="post">
						{% csrf_token %}
						<p>Edge Box 边缘层智能网关</p>
						<div class="login-group">
							<label>用户名
							<input type="username" autocomplete="username" name="username" class="login-input">
							</label>
						</div>
						<div class="login-group password-group">
							<label>密 码
							<input type="password" name="password" autocomplete="current-password" class="login-input">
							</label>
						</div>
						{{ errmsg }}
						<button type="submit" class="login-btn">登 入</button>

						<div class="text-foot">
							还没有账号? <a href="{% url 'user:register'%}">注册</a>
						</div>
					</form>
				</div>		
			</div>
		</div>		

	</div>


</body>
</html>